@media (max-width: 768px) {
    main {
        flex-direction: column;
        text-align: center;
    }

    body {
        background-repeat: no-repeat;
    }

    .logo img {
        width: 50%;
    }

    aside {
        padding-top: 0 !important;
    }

    aside h1 {
        font-size: 30px;
    }

    button {
        width: 100%;
        max-width: 300px;
    }

    footer.social {
        margin-top: 5rem;
        text-align: center;
    }
}