@media (max-width: 768px) {
    main {
        flex-direction: column;
        text-align: center;
    }

    body {
        background-repeat: no-repeat;
    }

    .logo img {
        margin: 0;
    }

    button {
        width: 100%;
        max-width: 300px;
    }

    footer.social {
        margin-top: 5rem;
        text-align: center;
    }
}